In [2]:
!pip show pandas

zsh:1: command not found: pip

In [3]:
import pandas as pd

In [4]:
gitCloudRepo = 'https://github.com/superadlerrrk/542/raw/main/week1/'
fileName = 'HSBfromGoogle.csv'

In [5]:
DFcsv = pd.read_csv(gitCloudRepo + fileName)

In [6]:
DFcsv.shape

(600, 15)

In [7]:
DFcsv.head(10)

,id,sex,race,ses,sctyp,hsp,locus,concpt,mot,car,rdg,wrtg,math,sci,civ
0,1,Female,Asian,Low,Public,Vocational/Technical,0.29,0.88,0.67,Professional_2,33.6,43.7,40.2,39.0,40.6
1,2,Male,Asian,Low,Public,Academic preparatory,-0.42,0.03,0.33,Craftsman,46.9,35.9,41.9,36.3,45.6
2,3,Female,Asian,Low,Public,Academic preparatory,0.71,0.03,0.67,Professional_1,41.6,59.3,41.9,44.4,45.6
3,4,Female,Asian,Medium,Public,Vocational/Technical,0.06,0.03,0.00,Service,38.9,41.1,32.7,41.7,40.6
4,5,Female,Asian,Medium,Public,Vocational/Technical,0.22,-0.28,0.00,Clerical,36.3,48.9,39.5,41.7,45.6
5,6,Male,Asian,Medium,Public,Academic preparatory,0.46,0.03,0.00,Proprietor,49.5,46.3,46.2,41.7,35.6
6,7,Male,Asian,Low,Public,General,0.44,-0.47,0.33,Professional_2,62.7,64.5,48.0,63.4,55.6
7,8,Female,Asian,Low,Public,General,0.68,0.25,1.00,Professional_1,44.2,51.5,36.9,49.8,55.6
8,9,Male,Asian,Medium,Public,General,0.06,0.56,0.33,Professional_1,46.9,41.1,45.3,47.1,55.6
9,10,Female,Asian,Low,Public,General,0.05,0.15,1.00,Proprietor,44.2,49.5,40.5,39.0,50.6

In [8]:
DFcsv.tail(5)

,id,sex,race,ses,sctyp,hsp,locus,concpt,mot,car,rdg,wrtg,math,sci,civ
595,596,Male,Hispanic,High,Private,General,0.27,-1.05,0.33,Professional_1,60.1,54.1,56.3,55.3,55.6
596,597,Male,Hispanic,Medium,Private,General,0.55,0.34,1.00,Technical,62.7,61.9,72.9,63.4,55.6
597,598,Male,Hispanic,Medium,Private,General,-0.61,0.34,0.67,Technical,68.0,54.1,74.6,66.1,65.5
598,599,Female,Hispanic,Medium,Private,General,0.23,0.94,1.00,Professional_2,57.4,67.1,57.9,60.7,55.6
599,600,Male,Hispanic,Medium,Private,General,0.02,0.03,0.33,Professional_1,62.7,54.1,64.7,58.0,50.6

In [9]:
DFcsv.columns

Index(['id', 'sex', 'race', 'ses', 'sctyp', 'hsp', 'locus', 'concpt', 'mot',
       'car', 'rdg', 'wrtg', 'math', 'sci', 'civ'],
      dtype='object')

In [10]:
DFcsv.iloc[:,1]

0      Female
1        Male
2      Female
3      Female
4      Female
        ...
595      Male
596      Male
597      Male
598    Female
599      Male
Name: sex, Length: 600, dtype: object

In [11]:
DFcsv.iloc[:,1].head(4)

0    Female
1      Male
2    Female
3    Female
Name: sex, dtype: object

In [12]:
DFcsv.iloc[:,5].head(4)

0    Vocational/Technical
1    Academic preparatory
2    Academic preparatory
3    Vocational/Technical
Name: hsp, dtype: object

In [13]:
DFcsv.loc[:,'concpt']

0      0.88
1      0.03
2      0.03
3      0.03
4     -0.28
       ...
595   -1.05
596    0.34
597    0.34
598    0.94
599    0.03
Name: concpt, Length: 600, dtype: float64

In [14]:
DFcsv[['sctyp']]

       sctyp
0     Public
1     Public
2     Public
3     Public
4     Public
..       ...
595  Private
596  Private
597  Private
598  Private
599  Private

[600 rows x 1 columns]

In [15]:
type(DFcsv)

pandas.core.frame.DataFrame

In [16]:
DFcsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      600 non-null    int64
 1   sex     600 non-null    object
 2   race    600 non-null    object
 3   ses     600 non-null    object
 4   sctyp   600 non-null    object
 5   hsp     600 non-null    object
 6   locus   600 non-null    float64
 7   concpt  600 non-null    float64
 8   mot     600 non-null    float64
 9   car     600 non-null    object
 10  rdg     600 non-null    float64
 11  wrtg    600 non-null    float64
 12  math    600 non-null    float64
 13  sci     600 non-null    float64
 14  civ     600 non-null    float64
dtypes: float64(8), int64(1), object(6)
memory usage: 70.4+ KB

In [17]:
gitCloudRepo = 'https://github.com/superadlerrrk/542/blob/main/week1/'
fileName = 'hsb_ok.dta?raw=true'

In [18]:
DFdta = pd.read_stata(gitCloudRepo + fileName)

In [19]:
DFdta.tail

<bound method NDFrame.tail of         id     sex      race     ses    sctyp                   hsp  locus  \
0        1  Female     Asian     Low   Public  Vocational/Technical   0.29
1        2    Male     Asian     Low   Public  Academic preparatory  -0.42
2        3  Female     Asian     Low   Public  Academic preparatory   0.71
3        4  Female     Asian  Medium   Public  Vocational/Technical   0.06
4        5  Female     Asian  Medium   Public  Vocational/Technical   0.22
..     ...     ...       ...     ...      ...                   ...    ...
595    596    Male  Hispanic    High  Private               General   0.27
596    597    Male  Hispanic  Medium  Private               General   0.55
597    598    Male  Hispanic  Medium  Private               General  -0.61
598    599  Female  Hispanic  Medium  Private               General   0.23
599    600    Male  Hispanic  Medium  Private               General   0.02

     concpt   mot             car   rdg  wrtg  math   sci   civ
0      0.88  0.67  Professional_2  33.6  43.7  40.2  39.0  40.6
1      0.03  0.33       Craftsman  46.9  35.9  41.9  36.3  45.6
2      0.03  0.67  Professional_1  41.6  59.3  41.9  44.4  45.6
3      0.03  0.00         Service  38.9  41.1  32.7  41.7  40.6
4     -0.28  0.00        Clerical  36.3  48.9  39.5  41.7  45.6
..      ...   ...             ...   ...   ...   ...   ...   ...
595   -1.05  0.33  Professional_1  60.1  54.1  56.3  55.3  55.6
596    0.34  1.00       Technical  62.7  61.9  72.9  63.4  55.6
597    0.34  0.67       Technical  68.0  54.1  74.6  66.1  65.5
598    0.94  1.00  Professional_2  57.4  67.1  57.9  60.7  55.6
599    0.03  0.33  Professional_1  62.7  54.1  64.7  58.0  50.6

[600 rows x 15 columns]>

In [20]:
DFdta.shape

(600, 15)

In [21]:
DFdta.iloc[:,4]

0       Public
1       Public
2       Public
3       Public
4       Public
        ...
595    Private
596    Private
597    Private
598    Private
599    Private
Name: sctyp, Length: 600, dtype: category
Categories (2, object): ['Public' < 'Private']

In [22]:
DFdta.columns

Index(['id', 'sex', 'race', 'ses', 'sctyp', 'hsp', 'locus', 'concpt', 'mot',
       'car', 'rdg', 'wrtg', 'math', 'sci', 'civ'],
      dtype='object')

In [23]:
DFdta.loc[:,'race'].head(6).tail(3)

3    Asian
4    Asian
5    Asian
Name: race, dtype: category
Categories (4, object): ['Hispanic' < 'Asian' < 'Black' < 'White']

In [24]:
pip install sodapy

Requirement already satisfied: sodapy in /Users/adlerkang/opt/anaconda3/lib/python3.9/site-packages (2.2.0)
Requirement already satisfied: requests>=2.28.1 in /Users/adlerkang/opt/anaconda3/lib/python3.9/site-packages (from sodapy) (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/adlerkang/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.28.1->sodapy) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/adlerkang/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.28.1->sodapy) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/adlerkang/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.28.1->sodapy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/adlerkang/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.28.1->sodapy) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [25]:
from sodapy import Socrata

In [26]:
client = Socrata("data.seattle.gov", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [27]:
results = client.get("bqqa-qp8w", limit=2000)

SSLError: HTTPSConnectionPool(host='data.seattle.gov', port=443): Max retries exceeded with url: /resource/bqqa-qp8w.json?%24limit=2000 (Caused by SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:1129)')))

In [ ]:
results_df = pd.DataFrame.from_records(results)

In [ ]:
results_df

In [30]:
from IPython.display import IFrame

In [28]:
wikiLink="https://en.wikipedia.org/wiki/Democracy_Index"

In [31]:
IFrame(wikiLink, width=900, height=300)

In [32]:
pip install html5lib

Requirement already satisfied: html5lib in /Users/adlerkang/opt/anaconda3/lib/python3.9/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Users/adlerkang/opt/anaconda3/lib/python3.9/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Users/adlerkang/opt/anaconda3/lib/python3.9/site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [33]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/adlerkang/opt/anaconda3/lib/python3.9/site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /Users/adlerkang/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4) (2.3.1)
Note: you may need to restart the kernel to use updated packages.

In [34]:
pip install lxml

Requirement already satisfied: lxml in /Users/adlerkang/opt/anaconda3/lib/python3.9/site-packages (4.9.1)
Note: you may need to restart the kernel to use updated packages.

In [35]:
DFwiki=pd.read_html(wikiLink,
                    header=0,
                    flavor='bs4',
                    attrs={'class': 'wikitable'})

In [36]:
type(DFwiki)

list

In [37]:
type(DFdta)

pandas.core.frame.DataFrame

In [38]:
alist = [1,2,'a','*']

In [39]:
alist

[1, 2, 'a', '*']

In [40]:
len(alist)

4

In [41]:
alist[2]

'a'

In [42]:
alist.append(4)

In [43]:
alist

[1, 2, 'a', '*', 4]

In [44]:
alist[3] = 'bbc'

In [45]:
alist

[1, 2, 'a', 'bbc', 4]

In [46]:
del alist[0]

In [47]:
alist

[2, 'a', 'bbc', 4]

In [48]:
list_1 = [x**2 for x in range(5)]
list_1

[0, 1, 4, 9, 16]

In [49]:
list_2 = [x for x in range(50) if x%5 == 0 and x>0]
list_2

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [50]:
someNames = ["Peter","Paul","Mary","John","Liz"]
list_3 = [x for x in someNames if not x.startswith ("P")]
list_3

['Mary', 'John', 'Liz']

In [51]:
import math

In [52]:
someNumbers = [-1, 6, -3, 4]

In [53]:
list_4a = [math.pow(x,3) for x in someNumbers]
list_4a

[-1.0, 216.0, -27.0, 64.0]

In [54]:
for n in list_4a:
    print("{:.2f}".format(n))

-1.00
216.00
-27.00
64.00

In [55]:
list_4b = [math.sqrt(x) if x >= 0 else None for x in someNumbers]
list_4b

[None, 2.449489742783178, None, 2.0]

In [56]:
len(DFwiki)

5

In [57]:
DFwiki[0].head(2)

,Type of regime,Score,Countries,Countries.1,Proportion ofWorld population (%)
0,Type of regime,Score,Number,(%),Proportion ofWorld population (%)
1,Full democracies,9.01â€“10.00 8.01â€“9.00,21,12.6%,6.4%

In [58]:
DFwiki[3].columns

Index(['Region', '2021 rank', 'Country', 'Regime type', '2021', '2020', '2019',
       '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010',
       '2008', '2006'],
      dtype='object')

In [59]:
DFwiki[3].iloc[:,2].head(10)

0           Canada
1    United States
2          Austria
3          Belgium
4           Cyprus
5          Denmark
6          Finland
7           France
8          Germany
9           Greece
Name: Country, dtype: object